a{
    color:#000000;
    text-decoration:none;
}

li{
    list-style: none;
}
  
*{
    margin:0;
    padding:0;
    max-width: 100%;
}


/*---------------------------------------------------*/

.title1{
    width: 100%;
    height: 120px;
    padding-top: 20px;
}
  
.name {
    color: #000;
    text-shadow: 10px 10px 20px silver;
    font-weight: bold;
    font-size:60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
  
.tabs {
    margin-top: 0px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
  
.tab_item1 {
    width: calc(100%/5);
    height: 50px;
    border-bottom: 5px solid #D75674;
    background-color: #ebe9e9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #505050;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.tab_item2 {
    width: calc(100%/5);
    height: 50px;
    border-bottom: 5px solid #FBA032;
    background-color: #ebe9e9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #505050;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.tab_item3 {
    width: calc(100%/5);
    height: 50px;
    border-bottom: 5px solid #89BD38;
    background-color: #ebe9e9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #505050;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.tab_item4 {
    width: calc(100%/5);
    height: 50px;
    border-bottom: 5px solid #0093A8;
    background-color: #ebe9e9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #505050;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.tab_item5 {
    width: calc(100%/5);
    height: 50px;
    border-bottom: 5px solid #7669B4;
    background-color: #ebe9e9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #505050;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.tab_item1:hover,.tab_item2:hover,.tab_item3:hover,.tab_item4:hover,.tab_item5:hover {
    opacity: 0.8;
}
  
input[name="tab_item"] {
    display: none;
}
  
.tab_text{
  opacity: 0.5;
}
  
.tabs input:checked + .tab_item {
    background-color: #bbbbbb;
    color: #fff;
}

/*--------------------------サイト内遷移---------------------------*/

.succession{
    display: block;
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    font-size: 14px;
  }
  
  .suc{
    border-bottom: 1px solid #000;
  }

  /*=========================アトラクション=========================*/

  .attraction{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .attraction p{
      color: #89BD38;
      font-size: 30px;
  }
  
  .line{
      height: 1px;
      width: 1000px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      background-color: #000000;
  }


  .atlist{
    height: 60px;
    width: 900px;

    padding-top: 20px;
    display: flex;

    margin-left: auto;
    margin-right: auto;
  }

  .atb{
    width: 200px;
    height: 60px;

    margin: auto;

    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 60px;

    border-radius: 10px;
    border: 1px solid #89BD38;
    background-color: #fff;
  }

  .atb_blank{
    width: 115px;
  }

  .p_body{
    width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .p_body p{
    color: #89BD38;
    font-size: 30px;
}

.at_text_title{
  width: 700px;
  height: 50px;

  margin: auto;
  margin-top: 50px;

  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;

  color: white;
  border: 1px solid lightslategray;
  background-color: #89BD38;
 }

.at_text_list{
  display: flex;
}

.at_text_num{
  width: 30px;
  height: 30px;

  margin-left: auto;

  border: 1px solid lightslategray;

  text-align: center;
  line-height: 30px;
  font-weight: bold;

  color: white;
  background-color: #89BD38;
}

.at_text{
  width: 668px;
  height: 30px;

  margin-right: auto;

  border: solid 1px lightslategray;
  
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}


  /*-----------------パレード------------------*/


  .palade{
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
  }

/*-------------------------サイトマップ-------------------------*/

.band{
  width: 100%;
  height: 100px;
  background-color: lightgray;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.band_boxs{
  width: 1000px;
  margin: auto;
  display: flex;
}

.band_box{
  padding: 5px;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}


/*---------------------------------------------------*/


.small{
  margin: 25px;
  text-align: center;
}
